In [9]:
import pandas as pd
import os
datadir = "data"
ps = "OMIM-Phenotypic-Series-Titles-all.txt"
morbidmap = "morbidmap.txt"
mimTitles = "mimTitles.txt"
genemap2 = "genemap2.txt"
mim2gene = "mim2gene.txt"
df_ps = pd.read_csv(os.path.join(datadir, ps),sep="\t",comment="#")
df_morbidmap = pd.read_csv(os.path.join(datadir, morbidmap),sep="\t",comment="#",header=None)
df_mimtitles = pd.read_csv(os.path.join(datadir, mimTitles),sep="\t",comment="#",header=None)
df_mimtitles = pd.read_csv(os.path.join(datadir, genemap2),sep="\t",comment="#",header=None)
df_mim2gene = pd.read_csv(os.path.join(datadir, mim2gene),sep="\t",comment="#",header=None)

In [10]:
df_ps.head()

                                                   OMIM Phenotypic Series Titles
Downloaded:                                                          Apr 09, 2021
Copyright (c) 1966-2021 Johns Hopkins Universit...                            NaN
Phenotypic Series Title                                  Phenotypic Series number
Abdominal obesity-metabolic syndrome                                     PS605552
Achondrogenesis                                                          PS200600

In [11]:
df_morbidmap.head()

,0,1,2,3
0,"17,20-lyase deficiency, isolated, 202110 (3)","CYP17A1, CYP17, P450C17",609300,10q24.32
1,"17-alpha-hydroxylase/17,20-lyase deficiency, 2...","CYP17A1, CYP17, P450C17",609300,10q24.32
2,"2,4-dienoyl-CoA reductase deficiency, 616034 (3)","NADK2, C5orf33, DECRD",615787,5p13.2
3,"2-aminoadipic 2-oxoadipic aciduria, 204750 (3)","DHTKD1, KIAA1630, AMOXAD, CMT2Q",614984,10p14
4,"2-methylbutyrylglycinuria, 610006 (3)","ACADSB, SBCAD",600301,10q26.13

In [12]:
df_mimtitles.head()

,0,1,2,3,4
0,NaN,100050,"AARSKOG SYNDROME, AUTOSOMAL DOMINANT",NaN,NaN
1,Percent,100070,"AORTIC ANEURYSM, FAMILIAL ABDOMINAL, 1; AAA1","ANEURYSM, ABDOMINAL AORTIC; AAA;; ABDOMINAL AO...",NaN
2,Number Sign,100100,PRUNE BELLY SYNDROME; PBS,"ABDOMINAL MUSCLES, ABSENCE OF, WITH URINARY TR...",NaN
3,NaN,100200,ABDUCENS PALSY,NaN,NaN
4,Number Sign,100300,ADAMS-OLIVER SYNDROME 1; AOS1,"AOS;; ABSENCE DEFECT OF LIMBS, SCALP, AND SKUL...","APLASIA CUTIS CONGENITA, CONGENITAL HEART DEFE..."